RUN_MODE=server # "cli" | "server", default: cli
NODE_ENV=production # "development" | "production", default: development
# LOG_LEVEL: silly | debug | info | warn | error, default: info
LOG_LEVEL=warn

# SERVER
PORT=7788 # 服务端口（仅 server 模式）
OPENAPI_ENABLE=false # 是否启用 OpenAPI 文档（仅 server 模式）

# AUTH_TYPE: 0 disabled; 1 fixed token; 2 timestamp token.
AUTH_TYPE=0
AUTH_KEY=

# Detect
DETECT_MODEL_PATH=models/detect.onnx
DETECT_SHAPE=[3,416,416] # 模型输入尺寸 [C,H,W]
DETECT_MEAN=[0,0,0] # 均值标准化
DETECT_STD=[1,1,1] # 标准差标准化

# OCR
OCR_MODEL_PATH=models/ocr_ppv5-cn.onnx # ppocr: ocr_ppv5-cn.onnx / ddddocr: ocr_dddd.onnx
OCR_CHARSET_PATH=models/ocr_ppv5-cn.json # ppocr: ocr_ppv5-cn.json / ddddocr: ocr_dddd.json
OCR_CHARSET_RANGES=
OCR_SHAPE=[3,48,320] # ppocr: [3,48,320] / ddddocr: [1,64,0]
OCR_MEAN=0.5 # ppocr: 0.5 / ddddocr: 0.5
OCR_STD=0.5 # ppocr: 0.5 / ddddocr: 0.5
OCR_CTC_LAYOUT=ntc # ppocr: ntc / ddddocr: tnc

# Rotate
ROTATE_MODEL_PATH=models/rotate.onnx
ROTATE_SHAPE=[3,224,224] # 模型输入尺寸 [C,H,W]
ROTATE_MEAN=[0.485,0.456,0.406] # 均值标准化
ROTATE_STD=[0.229,0.224,0.225] # 标准差标准化

# OpenAI
OPENAI_BASE_URL= # OpenAI API 地址
OPENAI_API_KEY= # OpenAI API 密钥
OPENAI_OCR_MODEL=PaddleOCR-VL-1.6 # OCR 专用模型名称，推荐：PaddleOCR、HunyuanOCR、DeepSeek-OCR
OPENAI_MODEL=gpt-5.5 # 通用模型名称
